[submodule "connect-four"]
	path = connect-four
	url = ./connect-four
[submodule "line-lab"]
	path = line-lab
	url = ./line-lab
[submodule "Searches-Sorts"]
	path = Searches-Sorts
	url = ./Searches-Sorts
[submodule "Zombie-die"]
	path = Zombie-die
	url = ./Zombie-die
